@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "varino";
  src: url("../public/fonts/Varino.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cust: var(--font-cust);
  --font-sans: var(--font-geist-sans);
  --font-varino: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #472ac7 #030712;
  scrollbar-width: thin;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* The master container width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* The track background */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: #030712;
}

/* The draggable handle */
::-webkit-scrollbar-thumb {
  background: #472ac7;
  border-radius: 9999px;
  border: 2px solid #030712;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c742fc;
}

@media (max-width: 768px) {

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(71, 42, 199, 0.5);
    border: none;
  }
}